@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.section {
  padding: 50px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  line-height: 34px;
  min-height: 34px;
  min-width: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
.square.latest {
  font-weight: bold;
}
.square.winner {
  color: green;
}

.game {
  background-color: #61DAFB;
  display: flex;
  flex-flow: row wrap;
}
.game > * {
  padding: 0 2em 2em 0;
}
.game h1 {
  flex-basis: 100%;
  padding: 0;
}
.game-board {
  padding-bottom: 0;
}
.game-info {
  /* padding: 0 2em; */
}

.board-row {
  display: flex;
}
.game-info .latest button {
  font-weight: bold;
}
